.inside-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #760441; /* Navy blue */
    color: white;
    padding: 10px 20px;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    gap:0px;
    margin-left: 150px;
  }
  
  .logo {
    height: 50px;
    margin-right: 150px;
    gap:10px;
    display: flex;
  }
  
  .titlw {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .profile-pic {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
  }
  
  .logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .logout-btn:hover {
    background-color: #c0392b;
  }
  