
.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: url('../../frontend/src/images/bg4.png');
      
    background-size: cover, cover;
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: overlay;
}


.login-card {
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}


.submit-btn {
    margin-top: 15px !important;
    background-color: #7a1524 !important;
    color: white !important;
    font-size: 18px;
    padding: 12px;
    text-transform: none;
    border-radius: 8px;
}

.submit-btn:hover {
    background-color: #b11930 !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media (max-width: 768px) {
    .container {
        background: url("https://source.unsplash.com/800x600/?technology,office") no-repeat center;
        background-size: cover;
    }
    
    .login-card {
        width: 90%;
        padding: 15px;
    }
}
